:root{
    --background:rgb(8, 8, 8);
    --text_spec:rgb(190, 190, 190);
    --text_plain:#848484;
}

/* иконку темы чуть вдвигаем */
.icon-eye{
    margin-right: 3%;
}

/* Устанавливаем везде фон */
html, #main, .row, .col-md-10 .col-md-offset-1, .col-md-12 .page-body, #mc-form, .col-md-8 .col-md-offset-2, .page-body, .preloader,.header-search, .about-author {
    background: var(--background) !important;
}

/* цвет заголовков и жирного*/
h1, h2, h3, h4, h5, h6, b{
    color:var(--text_spec) !important;
}

/* цвет обычного текста */
p, li, ul, .grean, th, td{
    color:var(--text_plain) !important;
}


/* цвет ссылок */
a{
    color:#1abc9c !important;
}

a:hover{
    color:var(--text_spec) !important;
}


/* исключения */
.social-icon li a{
    color: white !important;
}


.tb-content{
    display: flex;
    margin-top: 1%;
}

.icons{
    display: flex;
}

.tb-th-content{
    width: 95%;
}

.icons-admin-panel{
    font-size: 20px;
    margin-left: 5px;
}

/* summernote editor */

.note-editable{
    background: var(--background) !important;
}

.note-toolbar{
    background: var(--background) !important;
}

.note-status-output{
    background: var(--background) !important;
}

/* login style */
.login100-form .validate-form .flex-sb .flex-w{
    background: white !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: Ubuntu-Regular, sans-serif;
    box-sizing: border-box;
}



.container-login100{
    background: var(--background) !important;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.input100{
    background: white !important;
    margin: 2% 0 2% 0;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid ;
    font-family: 'Ubuntu', sans-serif;
    color: #403866;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 62px;
    padding: 0 20px 0 38px;
}

.login100-form-btn{
    margin: 0px;
    box-sizing: border-box;
    outline: none !important;
    border: none;
    background: transparent;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 62px;
    background-color: #1abc9c;
    border-radius: 6px;
    transition: all 0.4s;
}

.but_themes_login{
    position: absolute;
    top: 15px; 
    right: 15px;
}

.but_themes_login a  {
    font-size: 30px;
}